@import 'imports';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work sans', Arial, sans-serif;
  line-height: 1;
  font-size: 13px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', Arial, sans-serif;
}

p {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

li {
  list-style: none;
}

@keyframes autofill {
  0%,
  100% {
    background: transparent;
    font-size: 1rem !important;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
